@charset "utf-8";
/* レイアウトのためのCSS */

body{
    font-family: 'Sawarabi Gothic', sans-serif;
	color: #000;
	font-size:1rem;
	line-height:1.85;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%; 
	word-wrap: break-word;    
}

_:-ms-lang(x)::-ms-backdrop, body{/*IE11用ハック*/
    overflow-x: hidden;
}

@media screen and (max-width:768px) {
body{
	font-size:0.8rem;
	}
}

*{box-sizing: border-box;}

ul{
	margin:0;
	padding: 0;
	list-style: none;
}

a{
	color: #000;
	text-decoration: none;
    outline: none;
}

img{
    width: 100%;
    height: auto;
}

/* splash */

/* loading ※https://projects.lukehaas.me/css-loaders/参照*/
.loader {
  color: #da6a0b;
  font-size: 40px;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  transform: translateZ(0);
  animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}
@keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* font-family */

h1,h2,
#service h3,
#header .scrolldown3,
#contact .tel,
#contact .mail,
#footer,
nav,
#splash-logo{
    font-family: 'Teko', sans-serif;
}

/* splash */

#splash-logo{
    color:#000;
}

/* header */

#header .fixed{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

#header h1{
    position: fixed;
    z-index: 9999;
    top:3vh;
    left:2vw;
    font-size: 2.5rem;
    font-weight: normal;
    line-height: 1;
}
@media screen and (max-width:768px) {
#header h1{
    font-size:2rem;
    top:4vh;
    left:4vw;
}
}

#header .scrolldown3 span{
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

/* gnavi */

.circle-bg{
    border:2px solid #da6a0b;
}

#g-nav ul{
    font-size: 1.7rem;
    letter-spacing: 0.2em;
}


@media screen and (max-width:768px) {
#g-nav ul{
    font-size: 1rem;
}
}

/* heading */

h2{
    font-size: 3rem;
    letter-spacing: 0.2em;
    text-align: center;
    text-transform: uppercase;
    margin: 0 0 5vh 0;
}

_:-ms-lang(x)::-ms-backdrop, #service h2{/*IE11用ハック*/
    padding:20vh 0 0 0;
}

@media screen and (max-width:768px) {
h2{
    font-size: 2rem;
}
}

/* area */

.fixed{
    z-index: 1;
    height:100vh;
    width:100%;
    max-width:100%;
    padding:0 7vw;
	animation: bgchange 40s ease infinite;
}

@media screen and (max-width:768px) {
  #profile .fixed,
  #works.fixed{
      height: auto;
    }
}

@media screen and (max-width:540px) {
.fixed{
    padding:0 60px;
    }
    
}

/* profile */

#profile {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.profile-content {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 70%; /* コンテンツの全体の幅を70%に設定 (この値はお好みで調整可能) */
    margin: 0 auto;
}

.profile-image {
    flex: 1; /* 均等にスペースを取るようにする */
    max-width: 300px;
    height: auto;
}

.profile-text {
    flex: 1; /* 均等にスペースを取るようにする */
    text-align: left;
    padding: 0 10px;
}

@media (max-width: 639px) { /* この条件を変更 */
    .profile-content {
        flex-direction: column; /* 640px未満で縦並びに */
        align-items: center; 
    }

    .profile-image, .profile-text {
        width: 100%; /* 必要に応じて調整 */
    }
}


/* works */
.slider{
    width: 94%;
    margin: 0 auto;
    list-style: none;
}

.slider li{
    transition: transform 0.3s ease; /* スムーズな浮き上がりのアニメーション */
}

.slider li:hover {
    transform: translateY(-5px); /* li要素を少し上に移動 */
}

.slider li a {
    display: flex;
    flex-direction: column;  /* 垂直方向に内容を並べます */
    justify-content: center; /* 主軸（ここでは垂直方向）の中央に内容を配置 */
    align-items: center;     /* 交差軸（ここでは水平方向）の中央に内容を配置 */
    height: 100%;            /* aタグの高さを最大にします */
    text-align: center;      /* テキストを中央寄せ */
}

.slider img{
    max-width: 60vw;
    max-height: 30vw;
    width: auto;      /* 幅を自動に変更 */
    height: auto;
    display: block;
}

.slider .slick-slide{
    /*左右のサイズを80%に*/
    transform: scale(0.8);
    /*拡大や透明化のアニメーション*/
    transition: all .5s;
    opacity: 1;
}

.slider .slick-slide.slick-center:hover {
    transform: scale(1) translateY(-5px); 
    opacity: 1;
}

/* 追加: 通常のli要素にhoverした時の効果 */
.slider li:not(.slick-center):hover {
    transform: translateY(-5px);
}

.slick-prev, .slick-next{
    position: absolute;/*絶対配置*/
    top: 42%;
    cursor: pointer;
    outline: none;
    border-top: 2px solid #666;
    border-right: 2px solid #666;
    height: 15px;
    width: 15px;
}

.slick-prev{
    left: -1.5%;
    transform: rotate(-135deg);
}

.slick-next{
    right: -1.5%;
    transform: rotate(45deg);
}

.slick-dots{
    text-align: center;
    margin: 20px 0 0 0;
}

.slick-dots li{
    display: inline-block;
    margin: 0 5px;
}

.slick-dots button{
    color: transparent;
    outline: none;
    width: 8px;
    height: 8px;
    display: block;
    border-radius: 50%;
    background: #ccc;
}

.slick-dots .slick-active button{
    background: #333;
}

/* 上のスタイルはそのまま */

@media (max-width: 639px) {
    .slider{
        width: 100%; /* 余白を少なくして幅を最大に */
    }

    .slider img {
        max-width: 80vw; /* 画像の最大幅を少し大きく */
        max-height: 40vw; /* 画像の最大高さを少し大きく */
    }

    .slick-prev, .slick-next{
        top: 40%; /* ナビゲーションボタンの位置を少し上に */
        height: 12px; /* ナビゲーションボタンのサイズを少し小さく */
        width: 12px; /* ナビゲーションボタンのサイズを少し小さく */
    }

    .slick-prev {
        left: 1%; /* 左のナビゲーションボタンの位置を調整 */
    }

    .slick-next {
        right: 1%; /* 右のナビゲーションボタンの位置を調整 */
    }

    /* 他に必要な調整があればここに追加 */
}


/* skill */

#skill{
    display: flex;
    justify-content: center;
    align-items: center;
}

.categories {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 100%;
    flex-wrap: wrap;
}

.category {
    flex: 1 0 calc(33.33% - 20px); /* 3 categories per row, with margin */
    text-align: center;
    font-size: 18px;
    padding: 10px;
    margin: 0 10px;
    width: 100%;
}

.bg-color{
    background-color: #eee;
    padding: 10px 0 10px 0;
}

.items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.item {
    flex: 1 0 calc(25% - 20px); /* 4 items per row, with margin */
    margin: 10px;
    text-align: center;
}

.item img {
    width: 50px; /* Or whatever size you desire */
    height: auto;
    margin-bottom: 10px;
}


/* 既存のスタイルはそのまま */

@media (max-width: 639px) {
    .categories {
        flex-direction: column; /* 縦並びに変更 */
        align-items: center; /* 中央寄せに変更 */
    }

    .category {
        flex: 1 0 100%; /* カテゴリーを一つずつ縦に並べる */
        margin-bottom: 15px; /* マージンの調整 */
    }

    .items {
        justify-content: space-between; /* アイテム間のスペースを均等に */
    }

    .item {
        flex: 1 0 calc(33.33% - 20px); /* 3 items per row, with margin */
    }

    .item img {
        width: 40px; /* 小さな画面のため、アイコンのサイズを少し小さく */
    }
    .fixed{
        height:120vh;
    }
}



/* contact */

#contact{
    text-align: center;
}

#contact .tel,
#contact .mail{
    font-size: 2rem; 
    margin: 0 0 1vh 0;
}

#contact .mail{
    margin:0 0 6vh 0;
}

#contact .sns-link li{
    display: inline-block;
    margin: 0 10px;
}

#contact .sns-link li img{
     width:30px;   
}

@media screen and (max-width:768px) {
#contact .tel,
#contact .mail{
    font-size: 1.3rem;
}
}

/*  contact form css */
.c-form {
	max-width: 600px;
	margin: 0 auto;
}
.c-form__item {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	margin-bottom: 20px;
}
.c-form__label,
.c-form__input {
	padding: 10px;
}
.c-form__label {
	width: 90%;
}
.c-form__input {
	width: 90%;
	font-size: 16px;
	border: solid 1px #333;
	border-radius: 4px;
}
.c-form__input:focus-visible {
	outline: #da6a0b auto 1px;
}
.c-form__required {
	color: #fff;
	background-color: #da6a0b;
	border-radius: 4px;
	padding: 5px 5px;
	margin: 0 0 0 18px;
    width: 20%;
}
textarea.c-form__input {
	height: 160px;
}
.c-form__submit {
	text-align: center;
}
.c-form__submit button {
	font-size: 18px;
	font-weight: bold;
	color: #fff;
	background-color: #da6a0b;
	border: solid 1px #da6a0b;
	border-radius: 4px;
	padding: 5px 32px;
	transition: 0.4s;
	cursor: pointer;
    margin-bottom: 20px;
}
.c-form__submit button:hover {
	color: #da6a0b;
	background-color: transparent;
}

@media (min-width: 640px) {
	.c-form__item {
		flex-wrap: nowrap;
	}
	.c-form__label {
		width: 40%;
	}
	.c-form__input {
		width: 55%;
	}
}

/* footer */

#footer small{
    position: fixed;
    display: block;
    left:0;
    top:50%;
    transform: rotate(-90deg);
    text-transform: uppercase;
    z-index: 2;
    line-height: 1;
    letter-spacing: 0.1em;
}

#footer p{
    position: fixed;
    display: block;
    right:0;
    top:50%;
    transform: rotate(90deg);
    text-transform: uppercase;
    z-index: 2;
    line-height: 1;
    letter-spacing: 0.1em;
}

